.header-container {
  max-width: 1920px;
  margin: 0 auto;
  z-index: 1004;
  display: flex;
  height: 75px;
  padding: 0 25px;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-bottom: 2px solid #eeeeee;
  flex: 1 250px;

  .logo-container {
    display: flex;
    justify-content: left;
    align-items: center;

    .select-tables {
      margin-left: 50px;
    }
  }

  .avatar-container {
    display: flex;
    justify-content: flex-start;
    padding: 10px;
    align-items: center;
    cursor: pointer;
    position: relative;


    .username {
      margin-left: 10px;
      font-size: 17px;
    }

    .info-container {
      font-size: 17px;
      border: 1px solid #eeeeee;
      z-index: 1005;
      position: absolute;
      cursor: auto;
      min-width: 250px;
      right: -15px;
      top: 75px;
      box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .1);
      border-radius: 10px;
      padding: 40px 15px 15px 15px;
      background-color: white;

      .info {
        gap: 35px;
        display: flex;
        justify-content: left;
        align-items: flex-start;
        flex-wrap: wrap;
      }

      .logout-button {
        display: block;
        margin-top: 15px;
      }

    }
  }
}

.backdrop-light {
  position: fixed;
  z-index: 1003;
  top: -50px;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(1, 7, 18, 0);
}

@media (max-width: 756px) {

  .select-tables {
    margin-left: 25px !important;
  }

}
