<form [formGroup]="signUpForm" (submit)="onSubmit()" class="form-container">

  <p>{{SIGNUP_LOCALIZATION.TITLE}}</p>

  <span class="input-container">

      <span class="p-float-label">
        <input pInputText id="username" formControlName="username" [style]="{'width':'100%'}"
               [ngClass]="isControlInvalid('username') ? 'ng-invalid ng-dirty' : undefined"/>
        <label htmlFor="username">{{SIGNUP_LOCALIZATION.USERNAME_LABEL}}</label>
        @if(isControlInvalid('username')){
          <div class="error">
            {{SIGNUP_LOCALIZATION.NAME_ERROR_TEXT}}
          </div>
        }
      </span>

      <span class="p-float-label mt">
        <input pInputText id="email" formControlName="email" [style]="{'width':'100%'}"
               [ngClass]="isControlInvalid('email') ? 'ng-invalid ng-dirty' : undefined"/>
        <label htmlFor="email">{{GLOBAL_LOCALIZATION.FORM_EMAIL_LABEL}}</label>
        @if(isControlInvalid('email')){
          <div class="error">
            {{GLOBAL_LOCALIZATION.EMAIL_ERROR_TEXT}}
          </div>
        }
        @if(!isEmailValid){
          <div class="error">
            {{SIGNUP_LOCALIZATION.EMAIL_VALID_TEXT}}
          </div>
        }
      </span>

      <span class="p-float-label mt">
        <p-password id="password" formControlName="password" [style]="{'width':'100%'}"
                    [toggleMask]="true"
                    [feedback]="true"
                    [ngClass]="isControlInvalid('password') ? 'ng-invalid ng-dirty' : undefined">
        </p-password>
        <label for="password">{{GLOBAL_LOCALIZATION.FORM_PASSWORD_LABEL}}</label>
        @if(isControlInvalid('password')){
          <div class="error">
            {{GLOBAL_LOCALIZATION.PASSWORD_ERROR_TEXT}}
          </div>
        }
      </span>

  </span>

  <div class="button-container">
    <p-button class="login-button" label="{{SIGNUP_LOCALIZATION.BACK_BUTTON_LABEL}}" severity="secondary"
              [routerLink]="['/login']"></p-button>

    <p-button class="login-button" label="{{GLOBAL_LOCALIZATION.REGISTRATION_BUTTON_LABEL}}" type="submit"></p-button>
  </div>


</form>
