.form-container {
  margin: 100px auto;
  border-radius: 15px;
  width: 400px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: white;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .1);

  .mt{
    margin-top: 35px;
  }

  p {
    font-weight: bold;
    font-size: 30px;
    color: #333;
    line-height: 1.2;
    text-align: center;
  }

  .p-float-label {
    position: relative;

    .error {
      position: absolute;
      bottom: -10;
      left: 5px;
      font-size: 10px;
      color: darkred;
    }


    input {
      width: 273px;
    }

    input.ng-touched.ng-invalid {
      border-color: red;
    }
  }

  .button-container {
    margin: 35px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 75%;
  }

}

@media (max-width: 510px) {
  .form-container {
    width: 250px;

    p {
      font-size: 20px;
    }

    .error {
      font-size: 8px !important;
    }

    .mt{
      margin-top: 20px;
    }

    .button-container {
      margin: 25px;
    }
  }
}
