<ng-container>
    <backdrop (deny)="deny.emit()"></backdrop>
</ng-container>

<div class="edit-task-container">
    <i class="pi pi-times cross-button" (click)="deny.emit()"></i>
    <span class="title">{{isUpdate ? EDIT_TASK_LOCALIZATION.UPDATE_TASK_TITLE : EDIT_TASK_LOCALIZATION.CREATE_TASK_TITLE}}</span>

    <form [formGroup]="editTask" (submit)="onSubmit()" id="edit-popup">

            <span class="p-float-label mt">
                    <p-calendar formControlName="deadline"
                                [showTime]="true"
                                dateFormat="dd.mm.yy"
                                [style]="{'width':'100%'}"
                                [minDate]="currentDate"
                                [ngClass]="isControlInvalid('deadline') ||  isDateValid() ? 'ng-invalid ng-dirty' : undefined"
                    ></p-calendar>
                <label htmlFor="deadline">{{GLOBAL_LOCALIZATION.FORM_DEADLINE_LABEL}}</label>
                @if(isControlInvalid('deadline') || isDateValid()){
                    <div class="error">
                        {{EDIT_TASK_LOCALIZATION.DEADLINE_ERROR_TEXT}}
                    </div>
                }
            </span>

            <span class="p-float-label mt">
                <p-dropdown formControlName="priority" class="dropdown"
                            id="priority" [options]="priority"
                            [style]="{'width':'100%'}"
                            optionLabel="name"></p-dropdown>
                <label htmlFor="priority">{{GLOBAL_LOCALIZATION.FORM_PRIORITY_LABEL}}</label>
            </span>

            <span class="p-float-label mt">
            <p-dropdown [options]="category"
                        [style]="{'width':'100%'}"
                        formControlName="category"
                        optionLabel="name"
                        [filter]="true"
                        filterBy="name"
                        id="category"
                        placeholder="{{GLOBAL_LOCALIZATION.FORM_CATEGORY_LABEL}}"
                        [showClear]="true">
                <ng-template pTemplate="selectedItem">
                    @if(editTask.value.category){
                        <div class="flex align-items-center gap-2">
                            <div>{{ editTask.value.category.name }}</div>
                        </div>
                    }
                </ng-template>
                <ng-template let-category pTemplate="item">
                    <div class="flex align-items-center gap-2">
                        <div>{{ category.name }}</div>
                    </div>
                </ng-template>
            </p-dropdown>
            <label htmlFor="category">{{GLOBAL_LOCALIZATION.FORM_CATEGORY_LABEL}}</label>
        </span>

        <span class="p-float-label mt">
            <textarea rows="5"  [style]="{'width':'100%'}"
                      [ngClass]="isControlInvalid('description') ? 'ng-invalid ng-dirty' : undefined"
                      id="description"
                      formControlName="description"
                      pInputTextarea [autoResize]="true">
            </textarea>
            <label for="description">{{GLOBAL_LOCALIZATION.FORM_DESCRIPTION_LABEL}}</label>
            @if(isControlInvalid('description')){
                <div class="error">
                        {{EDIT_TASK_LOCALIZATION.DESCRIPTION_ERROR_TEXT}}
                </div>
            }

        </span>


        <div class="button-container">
            <p-button label="{{GLOBAL_LOCALIZATION.DENY_BUTTON_LABEL}}"
                      [raised]="true"
                      severity="secondary"
                      (click)="deny.emit()">

            </p-button>
                <p-button label="{{isUpdate ? GLOBAL_LOCALIZATION.UPDATE_BUTTON_LABEL : GLOBAL_LOCALIZATION.CREATE_BUTTON_LABEL}}"
                          type="submit"
                          [raised]="true"
                          severity="success">

                </p-button>
        </div>


    </form>
</div>
