.edit-task-container {
  z-index: 1005;
  right: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  position: fixed;
  top: 75px;
  width: 350px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  justify-content: left;
  align-items: center;
  flex-direction: column;
  padding: 26px;

  .mt {
    margin-top: 35px;
  }

  .cross-button {
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
  }

  .title {
    font-size: 20px;
    font-weight: bold;
  }

  form {
    width: 100%;

    .dropdown-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .textarea-container {
      width: 350px;
    }

    .p-float-label {

      .error {
        position: absolute;
        bottom: -10;
        left: 5px;
        font-size: 10px;
        color: darkred;
      }

    }

    .button-container {
      margin: 25px auto 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}

@media (max-width: 756px) {

  .edit-task-container {
    width: 260px;

    .title {
      font-size: 17px;
      margin-bottom: 0;
    }

    .mt {
      margin-top: 20px;
    }
  }
}
