<backdrop (deny)="deny.emit()"></backdrop>


<div class="edit-category-container">
    <i class="pi pi-times cross-button" (click)="deny.emit()"></i>

    <span class="title">{{isUpdate ? EDIT_CATEGORY_LOCALIZATION.UPDATE_CATEGORY_TITLE
        : EDIT_CATEGORY_LOCALIZATION.CREATE_CATEGORY_TITLE}}</span>

    <form [formGroup]="editCategory" (submit)="onSubmit()" id="edit-category-popup">

        <span class="p-float-label" style="margin-top: 15px;">
            <input pInputText id="categoryName"
                   (change)="isValidCategory = false"
                   formControlName="name" [style]="{'width':'100%'}"
                   [ngClass]="isControlInvalid('name') || isValidCategory ? 'ng-invalid ng-dirty' : undefined"
                   [size]="32"/>
            <label htmlFor="categoryName">{{GLOBAL_LOCALIZATION.FORM_CATEGORY_LABEL}}</label>

            <div class="error">
                {{isControlInvalid('name') ? EDIT_CATEGORY_LOCALIZATION.CATEGORY_ERROR_TEXT
                : isValidCategory ? EDIT_CATEGORY_LOCALIZATION.CATEGORY_INVALID_TEXT : undefined}}
            </div>

        </span>

        <div class="button-container">
            <p-button label="{{GLOBAL_LOCALIZATION.DENY_BUTTON_LABEL}}"
                      [raised]="true"
                      severity="secondary"
                      (click)="deny.emit()">

            </p-button>
            <p-button label="{{isUpdate ? GLOBAL_LOCALIZATION.UPDATE_BUTTON_LABEL
            : GLOBAL_LOCALIZATION.CREATE_BUTTON_LABEL}}"
                      type="submit"
                      [raised]="true"
                      severity="success">

            </p-button>
        </div>
    </form>
</div>
