.edit-category-container{
  z-index: 1005;
  width: 400px;
  position: fixed;
  top: 150px;
  margin-right: auto;
  margin-left: auto;
  right: 0;
  left: 0;
  background-color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 26px;
  border-radius: 10px;

  .error {
    position: absolute;
    bottom: -10;
    left: 5px;
    font-size: 10px;
    color: darkred;
  }

  .title{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .cross-button {
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
  }

  .button-container {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media (max-width: 756px) {

  .edit-category-container {
    width: 260px;

    .title {
      font-size: 17px;
      margin-bottom: 0;
    }
  }
}
