.task-table-container {

  .caption-container {
    padding: 25px;
    background-color: #ffffff;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
    gap: 25px;

    .input-container {
      width: 350px;
      position: relative;

      .search-label {
        position: absolute;
        top: 13px;
        left: 15px;
      }

      input {
        padding-left: 45px;
        background-color: #f6f7f8
      }

    }
  }

  .search-error {
    text-align: center;
    padding: 20px;
    font-size: 17px;
  }

  .filters-container {
    padding: 0 0 25px 25px;
    background-color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: left;
    align-items: center;

    .datepicker-container {
      display: flex;
      justify-content: left;
      align-items: center;
    }

    .ng-input-width {
      width: 250px;
    }

    .ml {
      margin-left: 30px;
    }
  }

  .description {
    word-wrap: break-word;
    word-break: break-all;
  }


  tr.row-accessories {
    background-color: #d9d9d9;
  }

  tr.row-accessories :nth-child(2) {
    position: relative;

    &::before {
      content: " ";
      position: absolute;
      top: 50%;
      left: 0;
      border-bottom: 1px solid #111;
      width: 100%;
    }
  }

  tr.row-accessories :nth-child(3) {
    position: relative;

    &::before {
      content: " ";
      position: absolute;
      top: 50%;
      left: 0;
      border-bottom: 1px solid #111;
      width: 100%;
    }
  }

  tr.row-accessories :nth-child(4) {
    position: relative;

    &::before {
      content: " ";
      position: absolute;
      top: 50%;
      left: 0;
      border-bottom: 1px solid #111;
      width: 100%;
    }
  }

  tr.row-accessories :nth-child(5) {
    position: relative;

    &::before {
      content: " ";
      position: absolute;
      top: 50%;
      left: 0;
      border-bottom: 1px solid #111;
      width: 100%;
    }

  }


    .text-align-center {
      text-align: center;
    }

  }

  @media (max-width: 756px) {
    .ng-input-width {
      width: 200px !important;
    }
  }

  @media (max-width: 510px) {
    .ng-input-width {
      width: 175px !important;
    }
  }


