<div class="task-table-container">

    <div class="caption-container">

        <div class="input-container">
            <span class="pi pi-search search-label" style="font-size: 1.2rem"></span>
            <input type="text" pInputText placeholder="{{TASK_LOCALIZATION.SEARCH_BUTTON_PLACEHOLDER}}"
                   [(ngModel)]="searchInput"
                   (input)="onSearch()"
                   [style]="{'width':'100%'}"/>
        </div>


        <p-button label="{{TASK_LOCALIZATION.ADD_TASK_BUTTON_LABEL}}" icon="pi pi-plus"
                  [outlined]="true"
                  (click)="isShowCreatePopup$.next(true)">
        </p-button>

        <p-button label="{{TASK_LOCALIZATION.FILTER_OPEN_BUTTON_LABEL}}"
                  [outlined]="true"
                  severity="secondary"
                  (click)="updateFilters()">
        </p-button>
    </div>

    @if(isShowFilter$ | async){
        <form [formGroup]="filters" (submit)="onSubmitFilter()" id="add-filters" class="filters-container">

            <span class="datepicker-container ng-input-width">
                <span class="p-float-label">
                <p-calendar formControlName="dateFrom"
                            dateFormat="dd.mm.yy"
                            id="dateFrom"
                            [style]="{'width':'100%'}"
                ></p-calendar>
                <label htmlFor="dateFrom">{{TASK_LOCALIZATION.FILTER_DATE_FROM_LABEL}}</label>
            </span>

            <span class="p-float-label ng-input-width">
                <p-calendar formControlName="dateTo"
                            dateFormat="dd.mm.yy"
                            id="dateTo"
                            [style]="{'width':'100%'}"
                ></p-calendar>
                <label htmlFor="dateTo">{{TASK_LOCALIZATION.FILTER_DATE_TO_LABEL}}</label>
            </span>
            </span>


            <span class="p-float-label ng-input-width">
                <p-dropdown [options]="category"
                            [style]="{'width':'100%'}"
                            formControlName="category"
                            optionLabel="name"
                            [filter]="true"
                            filterBy="name"
                            id="category"
                            placeholder="{{GLOBAL_LOCALIZATION.FORM_CATEGORY_LABEL}}"
                            [showClear]="true">
                    <ng-template pTemplate="selectedItem">
                        @if(filters.value.category){
                        <div class="flex align-items-center gap-2">
                            <div>{{ filters.value.category.name }}</div>
                        </div>
                    }
                    </ng-template>
                    <ng-template let-category pTemplate="item">
                        <div class="flex align-items-center gap-2">
                            <div>{{ category.name }}</div>
                        </div>
                    </ng-template>
                </p-dropdown>
                <label htmlFor="category">{{GLOBAL_LOCALIZATION.FORM_CATEGORY_LABEL}}</label>
            </span>

            <span class="p-float-label ng-input-width">
                <p-dropdown formControlName="priority"
                            class="dropdown"
                            [showClear]="true"
                            id="filterPriority" [options]="priority"
                            [style]="{'width':'100%'}"
                            placeholder="{{GLOBAL_LOCALIZATION.FORM_PRIORITY_LABEL}}"
                            optionLabel="name"></p-dropdown>
                <label htmlFor="filterPriority">{{GLOBAL_LOCALIZATION.FORM_PRIORITY_LABEL}}</label>
            </span>

            <span class="p-float-label ng-input-width">
                <p-dropdown formControlName="isDone"
                            class="dropdown"
                            [showClear]="true"
                            id="filterIsDone" [options]="done"
                            [style]="{'width':'100%'}"
                            optionLabel="name"></p-dropdown>
                <label htmlFor="filterIsDone">{{TASK_LOCALIZATION.FILTER_IS_DONE_LABEL}}</label>
            </span>

            <span>
                <p-button label="{{TASK_LOCALIZATION.FILTER_APPLY_BUTTON_LABEL}}"
                          [outlined]="true"
                          type="submit">
                </p-button>
            </span>
        </form>
}

    <p-table [value]="data"
             [tableStyle]="{ 'min-width': '25rem' }"
             [styleClass]="'p-datatable-sm'">
        <!--             [scrollable]="true" scrollHeight="500px">-->

        <ng-template pTemplate="header">
            <tr style="height: 60px ">
                <th style="width: 4rem; padding-left: 25px">
                </th>
                <th>{{GLOBAL_LOCALIZATION.FORM_DEADLINE_LABEL}}</th>
                <th class="text-align-center">{{GLOBAL_LOCALIZATION.FORM_DESCRIPTION_LABEL}}</th>
                <th class="text-align-center">{{GLOBAL_LOCALIZATION.FORM_CATEGORY_LABEL}}</th>
                <th class="text-align-center">{{GLOBAL_LOCALIZATION.FORM_PRIORITY_LABEL}}</th>
                <th class="text-align-center">{{TASK_LOCALIZATION.TABLE_TH_REDACTION}}</th>

            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-task>
            @if(!task.isDone){
                <tr>
                    <td style="padding-left: 25px">
                        <p-checkbox [(ngModel)]="task.isDone"
                                    (onChange)="isRowSelectable(task.id)"
                                    [binary]="true">
                        </p-checkbox>
                    </td>
                    <td>{{ task.deadline }}</td>
                    <td class="description">{{ task.description }}</td>
                    <td class="text-align-center">{{ task.category?.name || ''}}</td>
                    <td class="text-align-center">
                        <p-tag [value]="task.priority.name" [severity]="getPriority(task.priority.name)"></p-tag>
                    </td>
                    <td class="text-align-center">
                        <p-button
                                icon="pi pi-pencil"
                                [rounded]="true"
                                [text]="true"
                                severity="success"
                                (click)="isShowUpdatePopup$.next(true); selectedTask$.next(task)"
                        ></p-button>
                        <p-button icon="pi pi-trash" [rounded]="true" [text]="true" severity="danger"
                                  (click)="isShowDeletePopup$.next(true); selectedTask$.next(task)"></p-button>
                    </td>
                </tr>
            }
        </ng-template>

    </p-table>


    <p-table [value]="data"
             [styleClass]="'p-datatable-sm'">

        <ng-template pTemplate="body" let-sortedTask class="sorted-data">
            @if(sortedTask.isDone){
                <tr class="row-accessories">
                    <td style="padding-left: 25px">
                        <p-checkbox [(ngModel)]="sortedTask.isDone"
                                    (onChange)="isRowSelectable(sortedTask.id)"
                                    [binary]="true">
                        </p-checkbox>
                    </td>
                    <td>{{ sortedTask.deadline }}</td>
                    <td class="description">{{ sortedTask.description }}</td>
                    <td class="text-align-center">{{ sortedTask.category?.name || ''}}</td>
                    <td class="text-align-center">
                        {{sortedTask.priority.name}}
                    </td>
                    <td class="text-align-center">
                        <p-button icon="pi pi-trash" [rounded]="true" [text]="true" severity="danger"
                                  (click)="isShowDeletePopup$.next(true); selectedTask$.next(sortedTask)"></p-button>
                    </td>
                </tr>
            }
        </ng-template>

    </p-table>

    @if(data.length === 0){
    <div class="search-error">{{TASK_LOCALIZATION.SEARCH_ERROR_TEXT}}</div>
    }
</div>

@if(isShowCreatePopup$ | async){
    <edit-task-popup (deny)="isShowCreatePopup$.next(false)"
                     [category]="category"
                     (editedTask)="createTask($event)">
    </edit-task-popup>
}

@if(isShowUpdatePopup$ | async){
    <edit-task-popup (deny)="isShowUpdatePopup$.next(false)"
                     (editedTask)="updateTask($event)"
                     [category]="category"
                     [isUpdate]="true"
                     [task]="selectedTask$.value">
    </edit-task-popup>
}

@if(isShowDeletePopup$ | async){
        <delete-popup (deny)="isShowDeletePopup$.next(false)" [value]="'задачу'" (accept)="deleteTask()"></delete-popup>
}


