<div class="category-table-container">

  <div class="add-button-container">
    <p-button label="{{CATEGORY_LOCALIZATION.ADD_CATEGORY_BUTTON_LABEL}}" icon="pi pi-plus" [outlined]="true"
              (click)="isShowCreatePopup.set(true)">
    </p-button>
  </div>

  <p-table [value]="data" [tableStyle]="{ 'min-width': '25rem' }" [styleClass]="'p-datatable-sm'" [scrollable]="true"
           scrollHeight="500px">

    <ng-template pTemplate="header">
      <tr style="height: 60px ">
        <th style="padding-left: 25px">{{ CATEGORY_LOCALIZATION.TABLE_TH_CATEGORY_NAME }}</th>
        <th class="text-align-center">{{ CATEGORY_LOCALIZATION.TABLE_TH_REDACTION }}</th>

      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-category>
      <tr>
        <td style="padding-left: 25px">{{ category.name }}</td>
        <td class="text-align-center">
          <p-button icon="pi pi-pencil" [rounded]="true" [text]="true" severity="success"
                    (click)="selectedCategory$.next(category); isShowUpdatePopup.set(true)"></p-button>
          <p-button icon="pi pi-trash" [rounded]="true" [text]="true" severity="danger"
                    (click)="selectedCategory$.next(category); isShowDeletePopup.set(true)"></p-button>
        </td>

      </tr>
    </ng-template>
  </p-table>
</div>

@if (isShowCreatePopup()) {
  <edit-category-popup (deny)="isShowCreatePopup.set(false)"
                       (editedCategory)="createCategory($event)"></edit-category-popup>
}
@if (isShowUpdatePopup()) {
  <edit-category-popup (deny)="isShowUpdatePopup.set(false)" [isUpdate]="true" [category]="selectedCategory$.value"
                       (editedCategory)="updateCategory($event)"></edit-category-popup>
}
@if (isShowDeletePopup()) {
  <delete-popup (deny)="isShowDeletePopup.set( false)" [value]="'категорию'" (accept)="deleteCategory()"></delete-popup>
}
