<div class="header">
    <app-header (changeTable)="value = $event"></app-header>
</div>

<div class="body-container">
    @if(value === 'task'){
        <task-table></task-table>
    } @else {
        <category-table></category-table>
    }
</div>