.page-not-found-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 150px;

  .text-404 {
    padding: 0;
    margin: 10px;
    font-weight: bold;
    font-size: 60px;
  }
}
