<div class="page-not-found-container">


    <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
         width="128.000000pt" height="96.000000pt" viewBox="0 0 1280.000000 962.000000"
         preserveAspectRatio="xMidYMid meet">
        <metadata>
            Created by potrace 1.15, written by Peter Selinger 2001-2017
        </metadata>
        <g transform="translate(0.000000,962.000000) scale(0.100000,-0.100000)"
           fill="#000000" stroke="none">
            <path d="M12265 9605 c73 -26 95 -75 76 -169 -28 -133 -131 -302 -287 -468
            -81 -87 -114 -130 -145 -193 -74 -152 -75 -257 -5 -581 57 -258 69 -377 63
            -624 -4 -168 -10 -237 -27 -315 -61 -286 -181 -534 -377 -782 -98 -124 -153
            -176 -403 -384 -471 -391 -656 -584 -753 -787 -36 -74 -41 -94 -43 -165 l-3
            -82 8 71 c15 127 83 242 243 410 125 130 236 226 576 499 147 117 292 239 323
            271 270 282 446 617 511 970 18 98 21 157 22 334 0 239 -14 351 -80 622 -48
            200 -61 311 -47 395 18 100 70 196 170 309 101 116 160 203 215 320 84 180 82
            306 -6 348 -19 9 -42 16 -53 16 -10 -1 0 -7 22 -15z"/>
            <path d="M11918 9533 c7 -3 16 -2 19 1 4 3 -2 6 -13 5 -11 0 -14 -3 -6 -6z"/>
            <path d="M11810 9506 c-241 -83 -438 -259 -550 -491 -73 -151 -85 -210 -85
            -405 0 -191 10 -249 106 -598 94 -345 104 -402 104 -587 0 -123 -4 -175 -18
            -225 -39 -143 -131 -294 -257 -421 -126 -126 -226 -187 -545 -330 -341 -154
            -470 -231 -852 -513 -259 -190 -330 -236 -441 -288 -230 -106 -423 -123 -957
            -82 -104 8 -287 21 -405 30 -770 57 -1565 -26 -2503 -262 -345 -87 -414 -90
            -839 -33 -203 27 -253 30 -388 26 -177 -5 -229 -17 -491 -113 -269 -98 -316
            -108 -524 -107 -133 0 -252 9 -455 32 -151 17 -360 35 -465 41 -109 6 -211 16
            -238 25 -75 22 -156 70 -232 136 -113 97 -215 178 -238 190 -28 15 -26 13 63
            -60 41 -33 113 -94 160 -136 85 -76 181 -134 255 -154 22 -6 126 -18 230 -26
            105 -8 316 -31 470 -51 225 -29 316 -37 460 -38 215 -1 236 3 550 109 121 41
            263 82 315 91 124 21 280 14 540 -27 228 -35 458 -47 570 -30 41 7 174 36 295
            66 538 131 956 202 1465 247 237 21 803 16 1120 -10 458 -38 530 -42 684 -42
            233 0 387 28 558 99 116 49 207 108 479 308 390 288 540 379 841 512 284 125
            402 196 531 320 135 129 225 267 280 425 31 89 31 95 31 271 0 211 -7 253
            -110 610 -100 352 -117 441 -118 620 0 169 18 258 78 377 122 242 306 406 556
            494 36 12 58 23 50 23 -8 0 -44 -10 -80 -23z"/>
            <path d="M1248 5593 c-75 -79 -62 -222 29 -323 25 -27 48 -50 53 -50 4 0 -6
            44 -23 98 -32 100 -43 228 -24 280 11 30 -4 28 -35 -5z"/>
            <path d="M991 5331 c-1 -29 13 -77 40 -145 46 -113 52 -171 23 -231 -9 -20
            -83 -103 -164 -184 -214 -213 -245 -275 -261 -526 -6 -93 -18 -187 -33 -250
            -29 -118 -43 -228 -27 -205 6 8 11 23 11 32 0 9 21 72 46 140 37 100 48 146
            60 248 27 238 69 322 245 499 228 229 247 303 130 495 -23 37 -48 91 -56 119
            l-14 52 0 -44z"/>
            <path d="M1033 5334 c15 -49 78 -118 132 -143 44 -21 116 -27 163 -15 36 10
            26 21 -43 44 -36 12 -107 50 -160 86 -52 35 -97 64 -99 64 -2 0 1 -16 7 -36z"/>
            <path d="M10371 5034 c0 -11 3 -14 6 -6 3 7 2 16 -1 19 -3 4 -6 -2 -5 -13z"/>
            <path d="M10321 4949 c-2 -83 36 -217 137 -485 127 -337 123 -324 129 -514 6
            -191 -7 -281 -57 -406 -41 -103 -68 -150 -220 -384 -198 -303 -294 -488 -374
            -718 -107 -309 -120 -576 -34 -746 11 -23 51 -85 90 -138 97 -137 124 -196
            141 -308 3 -15 5 -8 6 16 2 70 -34 163 -118 303 -110 184 -116 203 -116 386 1
            130 5 164 28 253 76 289 219 580 477 967 111 167 192 330 220 440 42 166 36
            413 -15 574 -15 45 -69 179 -121 299 -115 263 -152 364 -163 451 l-8 66 -2
            -56z"/>
            <path d="M10380 4967 c0 -29 86 -162 224 -347 48 -63 102 -146 120 -185 46
            -96 96 -257 146 -470 95 -407 144 -522 309 -726 177 -220 436 -421 709 -551
            71 -34 102 -54 102 -66 1 -32 47 -130 115 -242 82 -137 112 -201 170 -372 79
            -229 104 -281 288 -601 101 -174 143 -271 168 -387 l19 -85 -4 67 c-8 107 -61
            245 -202 523 -113 224 -140 288 -199 465 -76 232 -103 296 -173 413 -70 116
            -89 157 -110 232 l-18 66 -77 33 c-354 154 -690 443 -865 743 -58 100 -84 169
            -141 384 -134 501 -171 583 -370 824 -77 94 -156 197 -176 230 -19 33 -35 56
            -35 52z"/>
            <path d="M628 3673 c143 -168 274 -261 412 -294 98 -24 266 -16 420 20 180 42
            282 49 399 26 117 -23 209 -18 252 14 17 12 32 21 33 19 1 -1 20 -43 41 -93
            37 -84 40 -96 40 -185 -1 -87 -4 -102 -39 -185 -72 -170 -86 -225 -101 -411
            -18 -214 -25 -244 -76 -347 -106 -210 -355 -513 -640 -777 -56 -51 -262 -252
            -458 -445 -239 -235 -376 -363 -416 -387 -34 -20 -119 -55 -195 -78 -152 -48
            -239 -90 -276 -132 -25 -31 -31 -72 -14 -98 7 -11 8 -6 4 16 -14 72 69 123
            288 178 167 42 252 84 351 175 286 262 846 793 962 912 222 228 362 413 451
            595 51 104 74 206 74 327 1 159 18 263 66 401 74 214 72 294 -12 459 -37 71
            -43 91 -33 103 10 12 9 13 -4 8 -10 -3 -17 1 -20 13 -4 11 -5 9 -4 -7 2 -19
            -6 -29 -33 -43 -44 -23 -103 -18 -225 18 -124 37 -244 37 -415 0 -163 -35
            -337 -44 -434 -21 -96 23 -193 76 -316 175 -58 46 -112 89 -120 95 -8 6 9 -17
            38 -51z"/>
            <path d="M5712 2433 c-27 -67 -53 -186 -63 -290 -21 -204 14 -436 116 -768
            110 -356 143 -524 152 -760 8 -228 -19 -357 -94 -445 -25 -29 -30 -39 -16 -32
            57 31 121 148 149 272 13 55 17 121 17 245 0 243 -29 411 -117 683 -66 204
            -102 332 -132 477 -24 114 -28 153 -28 315 0 136 4 204 16 255 17 76 17 92 0
            48z"/>
            <path d="M5850 2389 c79 -19 261 -39 530 -59 415 -30 495 -41 890 -124 225
            -47 328 -63 515 -81 304 -29 430 -83 642 -276 421 -384 569 -528 648 -632 56
            -74 62 -103 35 -158 -27 -52 -172 -203 -310 -322 -58 -50 -137 -121 -176 -159
            l-72 -68 -128 0 c-148 0 -184 -12 -258 -86 -83 -83 -115 -192 -82 -279 45
            -116 135 -135 521 -111 280 18 352 33 500 105 143 69 261 157 410 306 126 125
            178 185 455 524 235 288 210 265 -100 -90 -239 -275 -406 -442 -547 -548 -121
            -92 -271 -170 -383 -201 -122 -34 -588 -53 -699 -29 -122 26 -136 161 -30 268
            64 64 71 66 214 66 155 0 164 4 275 109 41 40 121 112 178 160 134 116 275
            265 302 322 33 67 25 136 -25 211 -47 71 -221 245 -511 511 -249 229 -308 276
            -414 331 -139 71 -233 94 -470 111 -169 12 -196 16 -520 75 -350 64 -443 74
            -832 90 -191 8 -398 22 -460 30 -124 16 -152 18 -98 4z"/>
            <path d="M10133 2216 c93 -48 187 -94 210 -102 23 -8 158 -44 300 -80 577
            -145 761 -208 920 -316 82 -55 122 -93 181 -168 223 -282 445 -700 507 -955
            26 -110 47 -152 93 -193 67 -59 202 -79 281 -43 98 44 177 205 174 351 -1 30
            -4 42 -5 25 -20 -168 -84 -294 -171 -336 -85 -41 -218 -7 -270 69 -12 18 -29
            68 -38 110 -61 298 -281 735 -516 1026 -106 133 -273 241 -483 315 -115 40
            -434 119 -696 171 -257 51 -312 67 -471 141 -196 89 -204 82 -16 -15z"/>
            <path d="M4025 2181 c-27 -10 -79 -33 -115 -51 -89 -45 -163 -65 -390 -105
            -107 -19 -227 -45 -267 -58 -157 -53 -332 -170 -567 -378 -340 -301 -388 -335
            -696 -504 -319 -174 -369 -211 -666 -486 -368 -341 -560 -475 -761 -530 -149
            -41 -293 -10 -404 87 l-44 38 45 -48 c136 -143 366 -159 603 -40 191 97 325
            198 687 519 209 186 280 235 551 381 329 176 383 214 672 471 303 271 453 377
            609 429 40 14 161 43 270 64 214 43 290 68 413 134 105 57 126 60 236 41 180
            -31 360 -93 468 -162 29 -19 55 -32 57 -30 8 7 -118 85 -196 121 -99 45 -242
            92 -341 111 -100 19 -102 18 -164 -4z"/>
            <path d="M4756 1942 c5 -5 28 -23 51 -41 128 -98 273 -364 392 -718 44 -131
            191 -620 191 -635 0 -3 -17 -9 -37 -13 -96 -17 -226 -129 -257 -221 -38 -112
            -9 -224 72 -275 85 -54 218 -49 472 15 159 40 149 43 -47 15 -174 -25 -318
            -23 -375 5 -51 25 -83 90 -74 152 18 131 152 244 292 244 l61 0 -54 178 c-206
            676 -323 943 -506 1155 -45 53 -163 147 -183 147 -4 0 -4 -4 2 -8z"/>
        </g>
    </svg>

    <p class="text-404">{{PAGE404_LOCALIZATION.NUMBER_TEXT}}</p>

    <p>{{PAGE404_LOCALIZATION.PAGE_ERROR_TEXT}}</p>

    <p-button label="{{PAGE404_LOCALIZATION.BACK_BUTTON_LABEL}}" [link]="true" [routerLink]="['/']"></p-button>


</div>
