.delete-popup-container {
  z-index: 1006;
  right: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  position: fixed;
  top: 150px;
  width: 400px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  justify-content: left;
  align-items: center;
  flex-direction: column;
  padding: 20px;

  .cross-button {
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
  }

  .text {
    font-size: 18px;

  }


  .delete-button-container {
    width: 100%;
    margin: 25px 0 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}


@media (max-width: 756px) {

  .delete-popup-container {
    width: 300px;

    .text {
      font-size: 17px;
    }
  }
}
