<backdrop (deny)="deny.emit()"></backdrop>

<div class="delete-popup-container">
    <i class="pi pi-times cross-button" (click)="deny.emit()"></i>

    <span class="text">{{DELETE_LOCALIZATION.DELETE_TEXT}} {{value}}?</span>

    <div class="delete-button-container">

        <p-button label="{{DELETE_LOCALIZATION.DENY_BUTTON_LABEL}}"
                  [raised]="true"
                  severity="secondary"
                  size="small"
                  (click)="deny.emit()">
        </p-button>

        <p-button label="{{DELETE_LOCALIZATION.ACCEPT_BUTTON_LABEL}}"
                  [raised]="true"
                  severity="danger"
                  size="small"
                  (click)="accept.emit()">
        </p-button>

    </div>
</div>
