.form-container {
  margin: 100px auto;
  border-radius: 15px;
  width: 400px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: white;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .1);

  .mt {
    margin-top: 35px;
  }

  p {
    font-weight: bold;
    font-size: 30px;
    color: #333;
    text-align: center;
  }

  .p-float-label {
    position: relative;

    .error {
      position: absolute;
      bottom: -10;
      left: 5px;
      font-size: 10px;
      color: darkred;
    }

    input.ng-touched.ng-invalid {
      border-color: red;
    }
  }

  .login-button {
    margin: 35px auto 0 auto;
  }

  .signup-container {
    font-size: 13px;
    color: #666;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px;

    .signup-button {
      font-size: 13px;

      &:hover {
        color: #0056b3;
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }
}

@media (max-width: 510px) {
  .form-container {
    width: 250px;

    p {
      font-size: 20px;
    }

    .error {
      font-size: 8px !important;
    }

    .signup-container {
      margin: 15px;
    }

    .signup-container, .signup-button {
      font-size: 10px !important;
    }

    .mt {
      margin-top: 20px;
    }

    .login-button {
      margin: 15px auto 0 auto;
    }
  }
}
