<form [formGroup]="signInForm" (submit)="onSubmit()" class="form-container">

  <p>{{SIGNIN_LOCALIZATION.TITLE}}</p>

  <span class="input-container" >

    <span class="p-float-label">
      <input pInputText id="email" formControlName="email"  [style]="{'width':'100%'}"
             [ngClass]="isControlInvalid('email') ? 'ng-invalid ng-dirty' : undefined"/>
      <label htmlFor="email">{{GLOBAL_LOCALIZATION.FORM_EMAIL_LABEL}}</label>
      @if(isControlInvalid('email')){
        <div class="error">
          {{GLOBAL_LOCALIZATION.EMAIL_ERROR_TEXT}}
        </div>
      }
      @if(!isDataValid){
        <div class="error">
          {{SIGNIN_LOCALIZATION.VALIDATION_ERROR_TEXT}}
        </div>
      }
    </span>

    <span class="p-float-label mt" >

      <p-password id="password" formControlName="password" [toggleMask]="true"
                  [ngClass]="isControlInvalid('password') ? 'ng-invalid ng-dirty' : undefined"
                  [feedback]="false" [style]="{'width':'100%'}">
      </p-password>
      <label for="password">{{GLOBAL_LOCALIZATION.FORM_PASSWORD_LABEL}}</label>
      @if(isControlInvalid('password')){
        <div class="error">
          {{GLOBAL_LOCALIZATION.PASSWORD_ERROR_TEXT}}
        </div>
      }
    </span>

</span>

  <p-button class="login-button" label="{{SIGNIN_LOCALIZATION.LOGIN_BUTTON_LABEL}}" type="submit"></p-button>

  <div class="signup-container">
    {{SIGNIN_LOCALIZATION.REGISTRATION_TEXT}} &nbsp;
    <span class="signup-button" [routerLink]="['/registration']">{{GLOBAL_LOCALIZATION.REGISTRATION_BUTTON_LABEL}}</span>
  </div>

</form>
